/*
	base 		#22531F
	dark		#252525
	gray		#454545
	lighter		#0B6C06
	bright  	#08A700
*/

a {
	color: white;
	text-decoration: none;
}

a:hover, .logo:hover, .logo div:hover, .active, .active a {
	color: black;
	text-decoration: none;
	background-color: white;
}

body {
	padding-top: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12pt;
	background-color: #252525;
}

#backgroundImg  {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	background-image: url("../img/dunes-xs.jpg");
	opacity: 0.5;
	position: relative;
}

footer {
	border-top-style: solid;
	border-top-color: #454545;
	border-top-width: 5px;
	padding-top: 5px;
	color: white;
	height: 35px;
}

.logo {
	position: relative;
	height: 50px;
	text-align: center;
}

.logo div {
	position: absolute;
	height: 50px;
	padding-left: 6px;
	padding-right: 6px;
	width: 150px;
	font-size: 20pt;
	padding-top: 50%;
	margin: 0;
}

.navbar {
	background-color: #454545;
	margin-bottom: 0;
	height: 50px;
}

.no-pad {
	padding-right: 0;
	padding-left: 0;
}

.pName {
	font-size: 60pt;
	position: absolute;
	height: 70pt;
	top: 50%;
	margin-top: -35pt;
	margin-left: 10%;
	color: white;
}

.sidebar-nav {
	position: fixed;
}

.transparent {
	background-color: #22531F;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

	#backgroundImg  {
		background-image: url("../img/dunes-sm.jpg");
	}		

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

	#backgroundImg  {
		background-image: url("../img/dunes-md.jpg");
	}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	#backgroundImg  {
		background-image: url("../img/dunes-lg.jpg");
	}
	
}